body{
    background-color:121212;
    color:lightgrey;
}
/*journal page content*/
#journal-view{
    display:flex;
    flex-direction:column;
    gap:140px;
}
/*title*/
.heading span{
    font-size:120px;
    color:34D058;
}

#heading-tag{
    color:ff5733;
}

.journal-table-body{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
/*table*/
#journal{
    overflow:hidden;
    border-collapse:seperate;
    border-collapse:collapse;
    border:3px solid #444;
    border-radius:10px;
}

#journal th{
    font-size:30px;
    color:#ff5733;
    background-color:333333;
    padding:10px;
}

#journal td{
    font-size:18px;
    background-color:606060;
    vertical-align:middle;
    text-align:center;
    position:relative;
}
/*first row*/
.particular-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}

.particular-container input[type='text']{

}
/*cell flex container*/
.cell-container{
    display:flex; 
    flex-direction:column;
    gap:10px;
}
/*debit*/
.debit-container{
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}
/*credit*/
.credit-container{
    position:absolute;
    top:80%;
    left:50%;
    transform:translate(-50%,-50%);
}
