<html>
    <head>
	<title>Journal view</title>
	<link href='E:\WORKSPACE\Projects\js\katori-client\css\journal.css' rel='stylesheet' />
    </head>

    <body>
	<div id='journal-view'>
	    <div class='heading'>
		<span>create new</span>
		<br>
		<span id='heading-tag'>Journals</span>
	    </div>

	    <button id='submit-btn'>add journal</button>

	    <div class='journal-table-body'>
		<table id='journal' border=1 >
		    <tr>
			<th>Id</th>
			<th>Date</th>
			<th>Particular</th>
			<th>LF</th>
			<th>Amount Dr</th>
			<th>Amount Cr</th>
		    </tr>

		    <tr>
			<td></td>
			<td>
			    <input type='date' id='date' />
			</td>

			<td>
			    <div class='particular-container'>
				<input type='text' id='particular1' />to
				<input type='text' id='particular2' />
				<input type='text' id='comment' />
			    </div>
			</td>

			<td></td>
			<td>
			    <input type='text' id='debit' />
			</td>

			<td>
			    <input type='text' id='credit' />
			</td>
		</table>
	    </div>
	</div>
    </body>
    <script src='E:\WORKSPACE\Projects\js\katori-client\js\journal.js' defer></script>
</html>
